.layout-main {
  position: absolute !important;
  display: flex !important;
  background-color: transparent !important;
  min-height: 100% !important;
  width: 100% !important;
}

.header-title {
  font-weight: bold !important;
  color: black !important;
}

.head-box {
  position: fixed;
  right: 100px;
  width: inherit;
}

.head-box-list {
  display: flex;
  flex-direction: row;
}

.head-box-list-button {
  position: relative !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
  width: 40px !important;
  border-radius: 10px !important;
}

.head-box-list-button-icon {
  min-width: 0 !important;
  margin: 3 !important;
  justify-content: center !important;
}

.head-box-list-button:hover {
  background: #7FCFCF !important
}

.head-box-list-button-iconicon {
  color: black;
}

.divider-box {
  padding-bottom: 34px !important;
  padding-top: 17px !important;
}

.sidebar-divider {
  background-color: white !important;
  height: 3px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  opacity: 1 !important;
}

.button-list {
  padding-top: 0px !important;
  left: -3px !important;
}

.expand-list-item {
  padding-right: 16px !important;
}

.expand-sidebar-button {
  position: relative !important;
  align-items: center !important;
  min-height: 5PX !important;
  vertical-align: middle !important;
  border-radius: 5px !important;
  justify-content: center !important;
  background-color: #444444 !important;
  height: 14px !important;
  min-width: 40px !important;
}

.expand-sidebar-button:hover {
  background: #7FCFCF !important;
}

.list-generic-sidebar-button {
  display: flex !important;
  flex-grow: 1 !important;
  position: relative !important;
  min-height: 5px !important;
  border-radius: 5px !important;
  vertical-align: middle !important;
  background-color: #444444 !important;
  min-width: 40px !important;
  justify-content: center !important;
  height: 35px !important;
}

.list-generic-sidebar-button:hover {
  background: #7FCFCF !important;
}

.list-generic-sidebar-button.active {
  background: #7FCFCF !important;
}

.list-generic-sidebar-buttonicon {
  min-width: 0 !important;
  margin: 3 !important;
  justify-content: center !important;
}

.list-generic-sidebar-buttonicon.active {
  margin: auto !important;
  padding-right: 22px !important;
}

.list-generic-sidebar-icon {
  color: white !important;
}

.list-generic-sidebar-icon.active {
  margin: auto !important;
  padding-right: 22px !important;
}

.list-generic-sidebar-text {
  opacity: 0 !important;
  color: white !important;
  margin: auto !important;
}

.list-generic-sidebar-text.active {
  opacity: 1 !important;
}

.list-item-expand-button-icon {
  justify-content: center !important;
}

.list-item-expand-button-icon-icon {
  color: white !important;
}